.layer {
    position: absolute;

    left: 0;
    top: 0;

    width: 2600px;
    height: 3600px;

    pointer-events: none;
}

/* ========================= */
/* 레이어 순서 */
/* ========================= */

/* 09 - 캐릭터 이미지 */
.character-layer {
    position: absolute;

    left: 0;
    top: 0;

    width: 2600px;
    height: 3600px;

    z-index: 1;
}

/* 08 - 프레임 */
.frame-layer {
    z-index: 2;
}

/* 07 - 타이틀 */
.title-layer {
    z-index: 10;
}

/* frame_line */
/* title 위 */
.frame-line-layer {
    z-index: 40;
}

/* 06 - 이름 */
.name-parts {
    position: absolute;
    left: 0;
    top: 0;
    width: 2600px;
    height: 3600px;
    z-index: 90;
    pointer-events: none;
}

.name-left-layer {
    position: absolute;
    left: 300px;
    top: 2975px;
    width: 300px;
    height: auto;
    z-index: 91;
}

.name-line-layer {
    position: absolute;
    left: 340px;
    top: 3262px;
    width: 372px;
    height: 70px;
    z-index: 92;
}

.name-right-layer {
    position: absolute;
    left: 712px;
    top: 2975px;
    width: 104px;
    height: 330px;
    z-index: 93;
}

.name-text {
    position: absolute;
    left: 470px;
    top: 3016px;

    z-index: 95;

    color: #ffffff;

    font-family: "Avenir Black", "Arial Black", Arial, sans-serif;
    font-size: 320px;
    line-height: 1;
    letter-spacing: -8px;
    white-space: nowrap;

    text-shadow:
        2px 0 #ffffff,
        -2px 0 #ffffff,
        0 2px #ffffff,
        0 -2px #ffffff,
        0 10px 10px rgba(0, 0, 0, 0.75),
        0 0 18px rgba(0, 0, 0, 0.60);
}
